/* Write your CSS here */
.container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 200px;
  width: 500px;
}
.heading {
  color: white;
  font-family: 'roboto';
}
.subheading {
  color: white;
  font-family: 'roboto';
}
.para {
  color: white;
  font-family: 'roboto';
}
.blue-button {
  background-color: #0b69ff;
  color: white;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  border-width: 0px;
  margin: 10px;
  cursor: pointer;
  font-family: 'roboto';
}
.white-button {
  color: #94a3b8;
  border-color: #cbd5e1;
  border-radius: 5px;
  border-width: 2px;
  background-color: transparent;
  height: 30px;
  width: 90px;
  cursor: pointer;
  font-family: 'roboto';
}
